# Base de desarrollo para Docker Compose. Estos valores son sólo ejemplos.
DB_NAME=pavas_workshop
DB_NAME_TEST=pavas_workshop_test
DB_USER=pavas
DB_PASSWORD=change_me_for_local_development
MYSQL_ROOT_PASSWORD=change_me_for_local_root
DB_PORT=3306
